{% extends "base.j2" %}
{% block title %}Functions by Device{% endblock %}
{% block header %}
    {{ super() }}
    <h1>Functions by Device</h1>
{% endblock %}
{% block content %}
<main>
    <section class="add">
        <!-- Allows user to create a new device-function relationship and add to the database. -->
        <h2>Add a new function to device</h2>
        <form>
            <!-- NOTE no IDs or anything added for now. should sketch out our JS interactions
                    and decide what we need for that. -->
            <select class="add-input" name="deviceName" id="addDevice">
                <option value="">--Device Name--</option>
            </select>
            <select class="add-input" name="functionName" id="addFunction">
                <option value="">--Function Name--</option>
            </select>
            <input id="add" type="submit" value="Add">
        </form>
    </section>
    <section class="display-data">
        <!-- Allow user to view all data for the Functions by Device in the database.
                Also allow user to delete rows. -->
        <h2>View all functions by device</h2>
        <table id="display-data" name="function-device">
            <thead>
                <tr>
                    <th>Device Name</th>
                    <th>Function Name</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                <!-- format for a table row:
                    <tr id='1'> <- ID should be set by retrieving PK from database
                        <td>test</td> <-- Column data
                        <td>test</td>
                        <td>test</td>
                        <td><button name="edit">Update</button></td> <- Must be named "edit"
                        <td><button name="del">Delete</button></td>  <- Must be named "del"
                    </tr>
                -->
                {% for row in data %}
                <tr>
                    {% for key in row.keys() %}
                    <td  name={{ key }}>{{ row[key] }}</td>
                    {% endfor %}
                    <td><button name="del">Delete</button></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>
</main>
<!-- Client-side Javascript -->
<script src="../static/node_modules/tablefilter/dist/tablefilter/tablefilter.js"></script>
<script src="../static/buttons.js"></script>
{% endblock %}
