{% extends "base.j2" %}
{% block title %}Devices{% endblock %}
{% block header %}
    {{ super() }}
    <h1>Devices</h1>
{% endblock %}
{% block content %}
<main>
    <section class="add">
        <!-- Allows user to create a new device and add to the database. -->
        <h2>Add a new device</h2>
        <form>
            <!-- NOTE no IDs or anything added for now. should sketch out our JS interactions
                    and decide what we need for that. -->
            <input type="text" placeholder="Device Name">
            <label for="dateLaunched">Date Launched</label>
            <input type="date" name="dateLaunched" placeholder="Date Launched">
            <input type="text" placeholder="Manufacturer">
            <input type="text" placeholder="Location ID">
            <input type="text" placeholder="Mission ID">
            <input type="submit" value="Add device">
        </form>
    </section>
    <section class="display-data">
        <!-- Allow user to view all data for the devices in the database.
                Also allow delete and update of rows. -->
        <h2>View all devices</h2>
        <table id="devices">
            <thead>
                <tr>
                    <th>Device ID</th>
                    <th>Device Name</th>
                    <th>Date Launched</th>
                    <th>Manufacturer</th>
                    <th>Location ID</th>
                    <th>Mission ID</th>
                    <th>Update</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody id="data-table">
                <!-- format for a table row:
                    <tr id='1'> <- ID should be set by retrieving PK from database
                        <td>test</td> <-- Column data
                        <td>test</td>
                        <td>test</td>
                        <td><button name="edit">Update</button></td> <- Must be named "edit"
                        <td><button name="del">Delete</button></td>  <- Must be named "del"
                    </tr>
                -->
                {% for row in data %}
                <tr id="{{ loop.index }}">
                    {% for key in row.keys() %}
                    <td>{{ row[key] }}</td>
                    {% endfor %}
                    <td><button name="edit">Update</button></td>
                    <td><button name="del">Delete</button></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>
</main>
<!-- Client-side Javascript for Button Actions -->
<script src="../static/buttons.js"></script>
<!-- JS for table filtering -->
<script src="../static/node_modules/tablefilter/dist/tablefilter/tablefilter.js"></script>
<script src="../static/table_filter.js"></script>
{% endblock %}
