{% extends "base.j2" %}
{% block title %}Locations{% endblock %}
{% block header %}
    {{ super() }}
    <h1>Locations</h1>
{% endblock %}
{% block content %}
<main>
    <section class="add">
        <!-- Allows user to create a new location and add to the database. -->
        <h2>Add a new location</h2>
        <form>
            <!-- NOTE no IDs or anything added for now. should sketch out our JS interactions
                    and decide what we need for that. -->
            <input class="add-input" type="text" name="locationName" placeholder="Location Name">
            <input class="add-input" type="text" name="localSystem" placeholder="Local System">
            <input class="add-input" type="text" name="localBody" placeholder="Local Body">
            <input id="add" type="submit" value="Add location">
        </form>
    </section>
    <section class="display-data">
        <!-- Allow user to view all data for the locations in the database.
                Also allow delete and update of rows. -->
        <h2>View all locations</h2>
        <table id="display-data" name="locations">
            <thead>
                <tr>
                    <th>Location ID</th>
                    <th>Location Name</th>
                    <th>Local System</th>
                    <th>Local Body</th>
                    <th>Update</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody name="data-table">
                <!-- format for a table row:
                    <tr id='1'> <- ID should be set by retrieving PK from database
                        <td>test</td> <-- Column data
                        <td>test</td>
                        <td>test</td>
                        <td><button name="edit">Update</button></td> <- Must be named "edit"
                        <td><button name="del">Delete</button></td>  <- Must be named "del"
                    </tr>
                -->
                {% for row in data %}
                <tr id="{{ row['locationID'] }}">
                    {% for key in row.keys() %}
                    <td  name={{ key }}>{{ row[key] or '' }}</td>
                    {% endfor %}
                    <td><button name="edit">Update</button></td>
                    <td><button name="del">Delete</button></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>
</main>
<!-- Client-side Javascript -->
<script src="../static/node_modules/tablefilter/dist/tablefilter/tablefilter.js"></script>
<script src="../static/buttons.js"></script>
{% endblock %}
